<!-- Kort beskrivning -->
<div class="hero-bg-wrapper">
    <div class="navbar-logo-left">
        <a href="/">
            <img src="/assets/logo.png" alt="Logo">
        </a>
</div>

<nav class="nav-menu-wrapper w-nav-menu">
    <!-- länkar senare -->
</nav>

<div class = "menu-button w-nav-button" aria-label="Open menu">
    <!-- länkar senare -->
    <!--<img src="/assets/menu.svg" class="menu-icon open" alt="Open menu">
    <img src="/assets/close.svg" class="menu-icon close" alt="Close menu">-->
</div>  

<div class="hero-content">
    <!-- hero text, knapp, bild, animation -->
  </div>

<div class="hero-content">
    <!-- hero text, knapp, bild, animation -->
  </div>
</div>