.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #111;
}

.lang-popup {
  display: none;
  position: absolute;
}

.lang-popup.active {
  display: block;
}

.language-switcher {
  position: relative;
}

/*.gameButtons:hover {
  transform: scale(1.1);
  background-color: var(--blue-lighter-color);
}*/